body {
    margin: 0px;
    padding: 0px;
    color: #000;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
    color: #4a4a4a;
    font-weight: 700;
}

p {
    font-size: 16px;
    line-height: 1.2em;
    color: rgba(18,18,18,.9);
}

.custom-navbar {
    background: white !important;
}

    .custom-navbar a:hover {
        color: #993d3f !important;
    }

.navbar-brand img {
    width: 120px;
}

.custom-navbar a {
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    color: rgba(58,54,54,.9) !important;
    font-weight: 900;
}

.bg {
    background: url(../img/b1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.overlay {
    padding: 200px 0px;
    background: rgba(0,0,0,0.45);
}

.border-line {
    border: 1px solid #e0dfdf;
    margin-top: 70px;
    margin-bottom: 20px;
}

.bg h1 {
    margin-top: 0px;
    color: white;
    font-weight: 900;
    font-size: 39px;
    margin-bottom: 40px;
}

.bg .btn {
    font-weight: 900;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 1.75em;
    background-color: #ae0909;
    line-height: 1em;
    margin: 10px 0;
    color: #fff;
    border-radius: 25px;
}

    .bg .btn:hover {
        opacity: 0.9;
    }

.content-section {
    padding: 60px 0px 0px 0px;
}

.sub-head {
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.2em;
}

.link-head {
    color: #993d3f;
    margin-top: 15px;
}

    .link-head a {
        color: #993d3f;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 1.2em;
    }

        .link-head a:hover {
            text-decoration: none;
            opacity: 0.9;
        }

.social-list a {
    color: #222;
    padding: 6px 7px;
    font-size: 19px;
}

    .social-list a:hover {
        text-decoration: none;
        color: #444;
    }

.social-div-container {
    background: #333;
    text-align: center;
    padding: 28px 0px;
    margin-top: 100px;
}

    .social-div-container a {
        display: inline-block;
        background: white;
        color: #222;
        width: 34px;
        height: 34px;
        border-radius: 25px;
        text-align: center;
        line-height: 24px;
        font-size: 18px;
        font-weight: 700;
        margin: 2px 3px;
    }


        .social-div-container a:hover {
            opacity: 0.7;
        }

footer {
    background: #1f1f1f;
    padding: 60px 0px;
    text-align: center;
}

    footer p {
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        color: rgba(255,255,255,.8);
        margin-bottom: 0px;
        text-align: center;
    }


/* Tiles */

.tiles {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin: -2.5em 0 0 -2.5em;
    padding-bottom: 20px;
}

    .tiles h2 {
        color: white;
    }

    .tiles .content p {
        color: white !important;
    }

    .tiles article {
        -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
        transition: transform 0.5s ease, opacity 0.5s ease;
        position: relative;
        width: calc(33.33333% - 2.5em);
        margin: 2.5em 0 0 2.5em;
    }

        .tiles article > .image {
            -moz-transition: -moz-transform 0.5s ease;
            -webkit-transition: -webkit-transform 0.5s ease;
            -ms-transition: -ms-transform 0.5s ease;
            transition: transform 0.5s ease;
            position: relative;
            display: block;
            width: 100%;
            border-radius: 4px;
            overflow: hidden;
        }

            .tiles article > .image img {
                display: block;
                width: 100%;
            }

            .tiles article > .image:before {
                pointer-events: none;
                -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
                -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
                -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
                transition: background-color 0.5s ease, opacity 0.5s ease;
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 1.0;
                z-index: 1;
                opacity: 0.8;
            }

            .tiles article > .image:after {
                pointer-events: none;
                -moz-transition: opacity 0.5s ease;
                -webkit-transition: opacity 0.5s ease;
                -ms-transition: opacity 0.5s ease;
                transition: opacity 0.5s ease;
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                opacity: 0.25;
                z-index: 2;
            }

        .tiles article > a {
            display: -moz-flex;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -moz-align-items: center;
            -webkit-align-items: center;
            -ms-align-items: center;
            align-items: center;
            -moz-justify-content: center;
            -webkit-justify-content: center;
            -ms-justify-content: center;
            justify-content: center;
            -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
            -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
            -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
            transition: background-color 0.5s ease, transform 0.5s ease;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 1em;
            border-radius: 4px;
            border-bottom: 0;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            z-index: 3;
        }

            .tiles article > a > :last-child {
                margin: 0;
            }

            .tiles article > a:hover {
                color: #ffffff !important;
            }

            .tiles article > a h2 {
                margin: 0;
            }

            .tiles article > a .content {
                -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
                -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
                -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
                transition: max-height 0.5s ease, opacity 0.5s ease;
                width: 100%;
                max-height: 0;
                line-height: 1.5;
                margin-top: 0.35em;
                opacity: 0;
            }

                .tiles article > a .content > :last-child {
                    margin-bottom: 0;
                }

        .tiles article.style1 > .image:before {
            background-color: #f2849e;
        }

        .tiles article.style2 > .image:before {
            background-color: #7ecaf6;
        }

        .tiles article.style3 > .image:before {
            background-color: #7bd0c1;
        }

        .tiles article.style4 > .image:before {
            background-color: #c75b9b;
        }

        .tiles article.style5 > .image:before {
            background-color: #ae85ca;
        }

        .tiles article.style6 > .image:before {
            background-color: #8499e7;
        }

body:not(.is-touch) .tiles article:hover > .image {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

    body:not(.is-touch) .tiles article:hover > .image:before {
        background-color: #333333;
        opacity: 0.35;
    }

    body:not(.is-touch) .tiles article:hover > .image:after {
        opacity: 0;
    }

body:not(.is-touch) .tiles article:hover .content {
    max-height: 15em;
    opacity: 1;
}

* + .tiles {
    margin-top: 2em;
}

body.is-preload .tiles article {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
}

body.is-touch .tiles article .content {
    max-height: 15em;
    opacity: 1;
}

@media screen and (max-width: 1280px) {

    .tiles {
        margin: -1.25em 0 0 -1.25em;
    }

        .tiles article {
            width: calc(33.33333% - 1.25em);
            margin: 1.25em 0 0 1.25em;
        }
}

@media screen and (max-width: 980px) {

    .tiles {
        margin: -2.5em 0 0 -2.5em;
    }

        .tiles article {
            width: calc(50% - 2.5em);
            margin: 2.5em 0 0 2.5em;
        }
}

@media screen and (max-width: 736px) {

    .tiles {
        margin: -1.25em 0 0 -1.25em;
    }

        .tiles article {
            width: calc(50% - 1.25em);
            margin: 1.25em 0 0 1.25em;
        }

            .tiles article:hover > .image {
                -moz-transform: scale(1.0);
                -webkit-transform: scale(1.0);
                -ms-transform: scale(1.0);
                transform: scale(1.0);
            }
}

@media screen and (max-width: 480px) {

    .tiles {
        margin: 0;
    }

        .tiles article {
            width: 100%;
            margin: 1.25em 0 0 0;
        }
}


/**/
@media(min-width:1199px) {
    .container {
        max-width: 1010px;
    }
}

@media(min-width:768px) {
    .custom-navbar a {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media (min-width:768px) and (max-width:1282px) {
    .tiles{
        padding-top:50px
    }
}

@media(max-width:767px) {
    .bg h1 {
        font-size: 33px;
    }

    .border-line{
        margin-top:30px
    }

    .overlay{
        padding:60px 0px
    }

    .tiles .row{
        margin:0px
    }
}
